<div
  class="overlay cursor-pointer"
  ng-style="showOverlay"
  ng-click="showLogin={'transform': 'translateX(100%)'};showOverlay={'display': 'none'}"
></div>
<header class="h-32">
  <div class="fixed w-full p-12 bg-white z-10">
    <nav class="flex justify-between items-center">
      <div class="nav-image w-28 h-11">
        <img
          src="https://cdn.shopify.com/s/files/1/0064/4435/1539/files/ella-surf-logo-b.png?v=1623377461"
          alt=""
          class="w-full h-full"
        />
      </div>
      <ul class="flex justify-around font-bold lg:ml-80">
        <li class="mr-12 relative shop-more-link">
          <a href="">Shop</a>
          <div class="bg-white shop-more-container">
            <ul class="shop-more absolute">
              <li>
                <div class="text-left mt-10 ml-5">
                  <p class="text-2xl font-bold">Lorem Dorus</p>
                  <p class="font-normal text-2xl text-gray-500 mt-2">
                    Dincidunteros
                  </p>
                  <p class="font-normal text-2xl text-gray-500 mt-2">
                    Loremous
                  </p>
                  <p class="font-normal text-2xl text-gray-500 mt-2">
                    Gravidas
                  </p>
                  <p class="font-normal text-2xl text-gray-500 mt-2">
                    Montemous
                  </p>
                  <p class="font-normal text-2xl text-gray-500 mt-2">
                    Comodianos
                  </p>
                </div>
              </li>
              <li>
                <div class="text-left mt-10 ml-5">
                  <p class="text-2xl font-bold">Milancelos Lanos</p>
                  <p class="font-normal text-2xl text-gray-500 mt-2">
                    Comodianos
                  </p>
                  <p class="font-normal text-2xl text-gray-500 mt-2">
                    Nectelus
                  </p>
                  <p class="font-normal text-2xl text-gray-500 mt-2">
                    Solutmades
                  </p>
                  <p class="font-normal text-2xl text-gray-500 mt-2">
                    Milancélos
                  </p>
                  <p class="font-normal text-2xl text-gray-500 mt-2">
                    Dincidunteros
                  </p>
                </div>
              </li>
              <li>
                <div class="text-left mt-10 ml-5">
                  <p class="text-2xl font-bold">Lynn Cosmopolis</p>
                  <p class="font-normal text-2xl text-gray-500 mt-2">
                    Bibendumetos
                  </p>
                  <p class="font-normal text-2xl text-gray-500 mt-2">
                    Pellentes Habitanto
                  </p>
                  <p class="font-normal text-2xl text-gray-500 mt-2">
                    Senectus
                  </p>
                  <p class="font-normal text-2xl text-gray-500 mt-2">
                    Consequatod
                  </p>
                  <p class="font-normal text-2xl text-gray-500 mt-2">
                    Loremouticas
                  </p>
                </div>
              </li>
              <li>
                <div class="mt-10 text-center ml-5 overflow-hidden">
                  <img
                    src="https://cdn.shopify.com/s/files/1/0064/4435/1539/files/mega-menu-1_663c3e03-14a9-4323-a7b5-dd66ccf240b1_470x.jpg?v=1621918549"
                    alt=""
                    class="
                      transform
                      hover:scale-105
                      transition
                      duration-500
                      ease-in-out
                    "
                  />
                </div>
              </li>
              <li>
                <div class="text-left mt-10 ml-5">
                  <p class="text-2xl font-bold">Cosmo Milano</p>
                  <p class="font-normal text-2xl text-gray-500 mt-2">
                    Bibendumetos
                  </p>
                  <p class="font-normal text-2xl text-gray-500 mt-2">
                    Pellentes Habitanto
                  </p>
                  <p class="font-normal text-2xl text-gray-500 mt-2">
                    Senectus
                  </p>
                  <p class="font-normal text-2xl text-gray-500 mt-2">
                    Consequatod
                  </p>
                  <p class="font-normal text-2xl text-gray-500 mt-2">
                    Scelerisque Yurnas
                  </p>
                </div>
              </li>
              <li>
                <div class="text-left mt-10 ml-5">
                  <p class="text-2xl font-bold">Nor Loremirus</p>
                  <p class="font-normal text-2xl text-gray-500 mt-2">
                    Dincidunteros
                  </p>
                  <p class="font-normal text-2xl text-gray-500 mt-2">
                    Loremous
                  </p>
                  <p class="font-normal text-2xl text-gray-500 mt-2">
                    Comodianos
                  </p>
                  <p class="font-normal text-2xl text-gray-500 mt-2">
                    Gravidas
                  </p>
                  <p class="font-normal text-2xl text-gray-500 mt-2">
                    Montemous
                  </p>
                </div>
              </li>
              <li>
                <div class="text-left mt-10 ml-5">
                  <p class="text-2xl font-bold">Accéssorius</p>
                  <p class="font-normal text-2xl text-gray-500 mt-2">
                    Dincidunteros
                  </p>
                  <p class="font-normal text-2xl text-gray-500 mt-2">
                    Nectellus
                  </p>
                  <p class="font-normal text-2xl text-gray-500 mt-2">
                    Solutmades
                  </p>
                  <p class="font-normal text-2xl text-gray-500 mt-2">
                    Loremous Comodous
                  </p>
                </div>
              </li>
              <li>
                <div class="mt-10 text-center ml-5 overflow-hidden">
                  <img
                    src="https://cdn.shopify.com/s/files/1/0064/4435/1539/files/mega-menu-2_8fe6679f-11b9-4ba0-91b6-eac70757243f_470x.jpg?v=1621924761"
                    alt=""
                    class="
                      transform
                      hover:scale-105
                      transition
                      duration-500
                      ease-in-out
                    "
                  />
                </div>
              </li>
            </ul>
          </div>
        </li>
        <li class="mr-12">
          <a href="">About</a>
        </li>
        <li class="mr-12">
          <a href="">Lookbook</a>
        </li>
        <li class="mr-12">
          <a href="">Blog</a>
        </li>
        <li class="mr-12">
          <a href="">Contact</a>
        </li>
      </ul>
      <div class="right-navbar">
        <button
          class="mr-5 font-medium px-5"
          ng-click="showLogin={'transform': 'translateX(0)'};showOverlay={'display': 'block'}"
        >
          Sign in
        </button>
        <i
          class="far fa-search mr-10 relative cursor-pointer"
          ng-click="showSearch={'transform': 'translate(-8rem,0)'}"
        >
          <div
            class="
              absolute
              transform
              bg-white
              border-2 border-gray-400
              mt-5
              -translate-y-96
              transition
              duration-500
              ease-in-out
            "
            ng-style="showSearch"
          >
            <form class="flex justify-center relative items-center">
              <input
                type="text"
                placeholder="search"
                class="p-5 outline-none placeholder-black"
              />
              <a class="far fa-search absolute right-10 cursor-pointer"></a>
              <i
                class="
                  absolute
                  fa-times
                  far
                  right-2
                  cursor-pointer
                  text-3xl
                  close-search
                "
                ng-click="showSearch={'transform': 'translateY(-32rem)'}"
              >
              </i>
            </form>
          </div>
        </i>
        <i class="fal fa-heart mr-10"></i>
        <i class="far fa-shopping-cart mr-10"></i>
      </div>
    </nav>
  </div>
</header>
<div
  class="sign-in h-screen fixed top-0 bottom-0 right-0 z-50 bg-white"
  ng-style="showLogin"
>
  <div class="p-14">
    <div class="flex w-full justify-between mb-16">
      <h3 class="text-4xl font-extrabold">Sign in</h3>
      <i
        class="fal fa-times fa-2x cursor-pointer"
        ng-click="showLogin={'transform': 'translateX(100%)'};showOverlay={'display': 'none'}"
      ></i>
    </div>

    <form class="flex flex-col">
      <label class="text-2xl mb-6">Email Address</label>
      <input
        type="text"
        placeholder="Email Address"
        class="
          py-6
          px-4
          h-20
          border-gray-300 border-solid border-2
          rounded-md
          text-xl
          outline-none
          placeholder-black
        "
      />
      <label class="text-2xl mb-6 mt-10">Password</label>
      <input
        type="text"
        placeholder="Password"
        class="
          py-6
          px-4
          h-20
          border-gray-300 border-solid border-2
          rounded-md
          text-xl
          outline-none
          placeholder-black
        "
      />
      <button
        class="
          login
          w-full
          h-20
          bg-yellow-400
          mt-8
          rounded-md
          uppercase
          font-bold
          hover:bg-white
        "
      >
        Login
      </button>
    </form>
    <div class="flex justify-center flex-col mt-10">
      <a
        class="
          text-blue-500
          font-medium
          text-xl text-center
          hover:underline
          cursor-pointer
        "
        >Forget your password?</a
      >
      <button
        class="
          w-full
          h-20
          rounded-md
          border-solid border-black border-2
          font-bold
          mt-12
          hover:bg-yellow-400
          register
        "
      >
        Create an account
      </button>
    </div>
  </div>
</div>
